@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

body {
  margin: 60px auto;
  width: 70%;
  background-color: cornsilk;
  font-family: "Orbitron", sans-serif;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-weight: bolder;
}

p,
button,
input {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

#gameboard,
#gameboard_cpu {
  position: relative;
  margin: 25px;
  width: 500px;
  height: 500px;
}

#ships div:hover {
  background-color: gray;
}

#gameboard div,
#gameboard_cpu div {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f6f8f9;
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
}

#gameboard div {
  cursor: crosshair;
}

#ships {
  display: flex;
  cursor: pointer;
}

#ships div {
  padding: 2px;
  border-style: solid;
  margin: 6px;
}

#shotsblock,
#shotsleftblock {
  width: 250px;
  margin: 0px;
  padding: 0px;
}

#shiplist,
#shiplist_2 {
  margin-top: 0;
}

#wintext,
#losstext {
  margin-bottom: 10px;
  display: none;
}

#sunkships {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

#info_2 {
  display: flex;
  /* flex-direction: column; */
}

#rotate,
#strtOvrBtn {
  font-family: "Orbitron", sans-serif;
}

#btns {
  margin-right: 75px;
  font-family: "Orbitron", sans-serif;
}

#boards {
  display: flex;
  width: auto;
}

#shiplist {
  margin-left: 15vw;
}

#ready {
  display: none;
}

@media screen and (max-width: 1500px) {
  #boards {
    flex-direction: column;
  }
}
